{% extends "activitystream/base.html" %}
{% block extra_css %}
    <style>
    #report_button, #reportto_button{
        background-color: white;
        font-size: 1rem;
        color: darkorange;
    }
    </style>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        #main{
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 1rem;
    background: white;
    margin-bottom: 1rem;
}
    </style>
    <div id = "main">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Report Form</legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
{%  endblock content %}